Package: NodeJS
Version: 9.0.0
Architecture: all
Maintainer: edwinspire <edwinspire@gmail.com>
Section: WWW
Priority: optional
Depends: 
Description: Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. 
Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.

